/* Color Palet */
/*
Dark Red: #6F1D1B
Dark Green: #53917E
Dark Blue: #264653
White: #F2F4F3
Black: #22333B
Light Orange: #f4a261
*/

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #53917E;
}

.createHangBtn {
    margin-top: 15%;
    margin-right: 10%;
    font-family: 'Playfair Display', serif;
    background-color: #264653 !important;
    border: none !important;
    border-radius: 100% !important;
}

.createHangBtn:hover {
    background-color: #346173 !important
}

.joinHangBtn {
    margin-top: 15%;
    margin-left: 10%;
    font-family: 'Playfair Display', serif;
    background-color: #f4a261 !important;
    border: none !important;
    border-radius: 100% !important;
}

.joinHangBtn:hover {
    background-color: #ffb67b !important;
}

.cardText {
    color: white;
    margin-top: 27%;
    font-size: 24pt;
}

.cardText:hover {
    color: white !important;
}

.homeTitle {
    color: white;
}