/* Color Palet */
/*
Dark Red: #6F1D1B
Dark Green: #53917E
Dark Blue: #264653
White: #F2F4F3
Black: #22333B
Light Orange: #f4a261
*/

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #53917E;
  
}

.text-center {
  width: 33vw;
  margin: auto;
  font-family: 'Playfair Display', serif;
  margin-bottom: 2%;
}

.title {
  color: #6F1D1B;
}