/* Color Palet */
/*
Dark Red: #6F1D1B
Dark Green: #53917E
Dark Blue: #264653
White: 
Black: #22333B
Light Orange: #f4a261
 */
.userProf {
    background-color: #F2F4F3;
    border-radius: 25px;
}
.borderLine {
    border-top: 1px solid gray;
}

.profile-header {
    margin: auto;
    width: auto;
    padding: 1%;
    border-radius: 25px;
    border: solid;
    border-color: #f4a261;
    background-color: #F2F4F3;
    justify-content: center;
}

.userDetail {
    text-align: left;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: solid black;
}

.profileMargins {
    display: flex;
    justify-content: space-around;
    max-width: 550px;
    margin: 30px auto;
}

.hangsNumber {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.userName {
    color: #264653; 
}

.currentHangs, .pastHangs, .currentActivities, .pastActivities {
    justify-content: center;
    text-align: center;
    margin: 18px auto;
} 

.currentHangs, .pastHangs {
    color: #264653;
}

.currentActivities, .pastActivities {
    border: solid;
    border-color: #f4a261;
    border-radius: 10px;
}

